{{#partial "content"}}

    <div class="container-fluid text-start mx-auto" id="client">

        <div class="card mx-auto"  style="max-width: 660px;">
            <div class="row">
                <div class="col-md-8">
                    {{#each contact}}
                        <div class="card-body" id="details">
                            <h5 class="card-title">{{subject}}</h5>
                            <hr>
                            <p class="card-text">
                            <p>Client's Name: <span class="detail">{{name}}</span></p>
                            <p>Client's Email: <span class="detail">{{email}}</span></p>
                            <p>Message Title: <span class="detail">{{subject}}</span></p>
                            <p>Content: <span class="detail">{{message}}</span></p>
                            <p class="card-footer">
                            <p><a class="btn btn-outline-secondary justify-content-left" href="/contact/{{id}}/delete">delete {{subject}}</a> </p>
                            <hr>
                        </div>
                    {{/each}}
                    <p><a class="btn btn-outline-danger justify-content-left" href="/contact/delete">Clear Contacts</a> </p>
                </div>
            </div>
        </div>
    </div>
{{/partial}}
{{> layout.hbs}}